<button
    #button
    style="position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%)"
    type="button"
    [lcTriggerFloatingBoxFor]="floatingBox">
    Click me
</button>

<lc-anchored-floating-box
    #floatingBox
    class="hello-world"
    theme="dark"
    (beforeOpened)="onBeforeOpened()"
    (closed)="onClosed()"
    (opened)="onOpened()">
    Hello World &nbsp; &nbsp;
    <button
        type="button"
        (click)="floatingBox.close()">
        close
    </button>
</lc-anchored-floating-box>
